/*Font*/
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;500&family=Josefin+Sans:wght@500&display=swap');
:root {
    --primary: #682C0E;
    --primary-dark:#7E370C;
    --brown: #B05E27;
    --yellow-1: #D4AC2B;
    --yellow-2: #FFCE45;
    --body:#F9E0AE;
    --white-navbar: #FFFFFF;
    --light: #FAF8F1;
    --lg-font: 'Josefina Sans', serif;
    --sm-font: 'Barlow', sans-serif;
}

html {scroll-behavior: smooth;}

body{
    font-family: var(--sm-font);
    line-height: 1.7;
    background-color: var(--body);
}


h1,h2,h3,h4,h5,h6,
.display-4 {
    color: var(--light);
    font-weight: 700;
}


a{
    color: var(--light);
    text-decoration: none;
}

.navbar{
    box-shadow: 0 3px 9px 3px rgba(0, 0, 0, 0.2);
}
.navbar .nav-link{
    font-size: 17px;
    font-weight: 700;
}

.navbar-brand{
    font-weight: 600;
    font-size: 23px;
    margin: 0px;
}

.btn{
    padding: 14px 18px;
    border-width: 2px;
    border-radius: 0;
}

.hero {
    background-image: url(../img/blackforest.jpeg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 2;
}

.hero::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
}

section{
    background-color: var(--light);
    padding-top: 30px;
    padding-bottom: 30px;
}
/*Menu images*/
.row{
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column{
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}
.column img{
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

@media screen and (max-width:800px){
    .column{
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width:600px){
    .column{
        flex: 100%;
        max-width: 100%;
    }
}

h4 {
    text-align: center;
    color: #682C0E;
}

.btnp:not(.nav-btns button){
    background-color: var(--light);
    color: rgb(85, 85, 85);
    padding: 10px 28px;
    border-radius: 25px;
    border: 1px solid rgb(85, 85, 85);
}
.btnp:not(.nav-btns button):hover{
    background-color: var(--brown);
    color: #fff;
    border-color: var(--brown);
}


/*  ABOUT   */
#about{
    background-color: var(--body);
}

/*  NEWSLETTER  */
#newsletter{
    background-color: var(--light);
}

#newsletter p{
    max-width: 600px;
}

#newsletter .input-group{
    max-width: 500px;
}

#newsletter .form-control{
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

#newsletter .btn{
   background-color: var(--brown);
   color: var(--light);
   border-color: var(--brown);
   border-top-right-radius: 25px;
   border-bottom-right-radius: 25px;
}

#newsletter .btn:hover{
    background-color: #000;
    border-color: #000;
}

/*  footer  */

footer.brand{
    letter-spacing: 2px;
}

footer a{
    transition: color 0.3s ease;
}

footer a:hover{
    color: var(--brown)!important;
}

